header {
    background-color: #70DAC7;
    padding: 40px;
    font-family: 'Inter', sans-serif;
}

.textoheader {
    background-color: white;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
}

.imagenprincipal {
    width: 83.26px;
    height: 70px;
}

.portada {
    padding: 10px;
    background-color: #70DAC7;
    font-weight: bold;
    display: flex;
    justify-content: center;
    color: #000000;
}