h5 {
    display: flex;
    justify-content: center;
    padding: 50px;
    background-color: #FEC8FF;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
}

.quienesnosotros {
    display: flex;
    justify-content: center;
    padding: 90px;
}

.textodonativo {
    display: flex;
    justify-content: center;
    padding: 90px;
}